#canvasContainer {
    border: 1px solid #000;
    width: 1280px;
    height: 672px;
    margin: 0 auto;
}

#gameCanvas {
    background: #7ad2ec;
}

#fpsCounter {
    margin-top: 25px;
}

#fpsMeter {
    width: 50px;
    font-size: 18px;
}

#levelTxt {
    width: 95%;
    height: 100px;
    position: absolute;
    background: black;
    color: green;
    bottom: 0;
}